body {
    color: blue;
    font-family: "Arial", Verdana, Helvetica, sans-serif;
    Background-color: black;
}

#wrapper {
    width: 1180px;
    height:2500px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}
#header {
    height: 90px;
    text-align: center;
    background-color: black;
    padding: 10px;
}
ul li {
    display: inline-block;
}

h1,h2,h3,.fancy {
  text-align: center;
}

#leftbody {
  border:5px blue solid;
    float: left;
    color: white;
    text-align: center;
    height: 2180px;
    background-color: blue;
    width: 570px;
    padding: 10px;
}



#rightbody {
padding-top:15px;
    float: right;
    color: white;
    height: 2180px;
    background-color: blue;
    width: 570px;
    padding-left: 5px;
    padding-right:5px;
    z-index:1;
}

img{
  border: 10px black solid;
}
.Italic{
  font-style: italic;
  padding:10px;
  background-color:black;
}

.redpara{
  color:red;
  background:white;
  font-family: serif;
  padding-left:15px;
  padding-right:15px;

  text-align: justify;
  border: 5px black dotted;
}

.size{
  font-size: 25px;
  color:white;
}

h3 {
  background-color:white;
}

.fancy {
  color:blue;
  background-color:white;
  border: 8px blue dashed;
  padding:5px;
  text-transform: full-width;
  font-size: 20px;
}

#rightbody2{
position:Absolute;
top:900px;
left:680px;
z-index:10;
}

#footer {

  height: 90px;
  text-align: center;
  background-color: black;
  padding: 10px;
}
