body {
  color:blue;
  font-family:"Arial", Verdana, Helvetica, sans-serif;
  Background-color:black;
}

#wrapper{
  width:1180px;
  margin:0 auto;
  background-color:white;
  padding:10px;
}

#header{
  height:90px;
  text-align:center;
  background-color:black;
  padding:10px;
}

img{
  align:right;
  border-style:solid;
border-width:10px;
border-color:black;
}

ul li{
  display:inline-block;
}

h3,h4 {
  text-align:center;
}


#leftbody{
  float:left;
  color:white;
  text-align:center;
  height:570px;
  background-color:blue;
  width:580px;
  padding:10px;
}


#rightbody{
  float:right;
  color:white;
  font-size: 30px;
  height:490px;
  background-color:blue;
  width:550px;
  padding-left:10px;
}

#footer{
  height:90px;
  background-color:black;
  text-align:center;
  padding-top:10px;
}
