body {
  color:blue;
  Background-color:black;
}

#wrapper{
  width:750px;
  margin:0 auto;
  background-color:white;
}

h1{
  text-align: center;
}

.h{
  color:red;
}
img{
align-content:center;

}

}

#header{
  height:50px;
  text-align: center;
}

#leftbody{
  float:left;
  height:500px;
  background-color:red;
  width:190px;
  padding:5px;

}
#rightbody{
  float:left;
  height:500px;
  background-color:orange;
  width:540px;
padding:5px;
}

#footer{
  height:50px;
  text-align: center;
  background-color:purple;
  clear:both;
}
