
body {
  color:black;
  Background-color:#F5F5F5;
}

#wrapper{
  width:1250px;
  height:950px;
  margin:0 auto;
  background-color:#E8E8E8;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  color:orange;
}

#header{
div p.para{
	background-color:green;
}
}
div p{
	background-color:purple
}

h2{
	color:blue;
}

p ~ h2{
	color:pink;
}

p + p{
	color:orange;
}
