body{
  color:black;
  background-color:white;
  font-size:12px;
}




#box3{
  background-color:green;
  position:fixed;
  height:820px;
  top:10px;
  left:10px;
  right:10px;
}

#box2{
  background-color:blue;
  position:fixed;
  top:20px;
  left:250px;
  height:210px;
  width:220px;
}

#box3{
  position:fixed;
  top:20px;
  left:850px;
  height:210px;
  background-color:red;
  width:220px;
}



<p>
<a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="Valid CSS!" />
    </a>
</p>
