   body {
        Background-color: white;
        color:black;
    }

    #wrapper {
        width: 1300px;
        height:1800px;
        margin: 0 auto;
        background-color: white;
    }

    #header {
        height: 400px;
        width:590px;
        text-align: center;
        background-color: grey;
    }


    ul li {
        display: inline-block;
        }

    #leftbody {
  float:left;
  top:400px;
        height: 1000px;
        background-color: pink;
        width: 600px;

    }

    #rightbody {
      position: fixed;

      left:650px;
background-color: yellow;
        height: 1000px;
        width: 600px;
    }

    #footer {

      height: 400px;
      width:600px;
      text-align: center;
      background-color: grey;

    }
