   body {
        font-family: "Arial", Verdana, Helvetica, sans-serif;
        Background-color: white;
        color:black;
    }

    #wrapper {
        width: 1180px;
        height:1800px;
        margin: 0 auto;
        background-color: white;
    }

    #header {
        height: 100px;
        width:1180px;
        text-align: center;
        background-color: orange;
        position:fixed;
    }

    h1{
      text-align: center;
    }

    ul li {
        display: inline-block;
        }

    #leftbody {
        height: 800px;
        background-color: pink;
        width: 1180px;
        padding-top:80px;

    }
    .leftbody2 {
      float:right;
    }

    #rightbody {

        height: 800px;
        background-color: blue;
        width: 1180px;
    }

    #footer {
      height: 100px;
      text-align: center;
      background-color: orange;
      padding: 5px;
    }
